body {
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    margin:0;
}

.SECTION1, .SECTION5 {
    background-color: #1F2937;
    color: white;
    padding:8px;

    
}

.SECTION1 {
    Height: 500px;
}

.SECTION5 {
    Height:50px;
}

.HEADER {
    font-size: 24px;
    font-weight: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding:8px;
    align-items: center;

}

.Links {
    display: flex;
    gap : 16px;
    justify-content: space-evenly;
    padding:8px;


}

.SECTION1 h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.SECTION1 .Herotext, .SECTION1 ul {
    font-size: 18px;
    color: #E5E7EB;
}

.SECTION1 img {
    width: 300px;
    height:300px;
}


.HERO {
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.HeroFirstHalf{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left:75px;
    Height:300px;

}

.Herotext {
    margin-bottom:12px;
}


.SECTION2 {
    
    gap: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Infosection {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    gap:75px;


}

.Image_with_info {
    display:flex;
  flex-direction: column;
  text-wrap: wrap;
  text-align: center;
  width: 150px;
  gap: 5px;
  justify-content: center;
  align-items: center;

}

.Image_with_info  img{
    border-radius: 15px;
  border: 2px solid blue;
  padding: 20px;
  width: 150px;
  height: 150px;
}


.InfoTitle * {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.SECTION3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding:100px;
}

.Quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

    width: 650px;

}

.Quotesource {
    text-align: right;
    font-weight: bolder;
    color: #1F2937;
    font-size: 24px;
    width:650px;
}

.SECTION4 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding:100px;
}

.BlueSection {
    width:900px;
    height:150px;
    background-color: #3882F6;
    border-radius: 10px;


    padding:12px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SECTION4 button  {
    height: 30px;
    width:150px;
    border-radius: 5px;
  border: 2px solid white;
  background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    padding:16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ButtonInfo {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}

.ButtonInfo h6 {
    font-size:24px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color:white;
}

.SECTION5 {
    display: flex;
    justify-content: center;
    align-items: center;
}



ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
  }

button {
    background: royalblue;
  border: 1px solid royalblue;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  width : 100px;
}



img {
width:100px;
height: 100px;
}
